:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--paleBlue);
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

main {
    height: 530px;
    width: 330px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.400)
}


section {
    margin: 0 20px;
}

.image img {
    width: 100%;
    height: 25%;
    border-radius: 15px 15px 0 0;
    margin-bottom: 1.5em;
}

.content h1 {
    color: var(--darkBlue);
    font-weight: 900;
    font-size: 1.4em;
    margin-bottom: 0.6em;
}

.content p {
    color: var(--desaturatedBlue);
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 5%;
    padding: 0 4%;
}

.plan {
    font-weight: 700;
    display: flex;
    flex-direction: row;
    width: 78%;
    height: 13%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--veryPaleBlue);
    padding: 0 5%;
    margin-bottom: 1.3em;
}
 
.plan  h2 {
    font-size: 0.9em;
    margin-left: -3em;
    line-height: 1.5em;
    font-weight: 700;
}

.plan span {
    color: var(--desaturatedBlue);
    font-size: 0.9em;
    font-weight: 500;
}

.plan a {
    color: var(--brightBlue);
    font-size: 0.8em;
    cursor: pointer;
}

.payment button:first-child {
    border-radius: 10px;
    border: none;
    height: 45px;
    width: 100%;
    background-color: var(--brightBlue);
    color: var(--veryPaleBlue);
    font-weight: 900;
    font-size: 0.9em;
    margin-bottom: 1.4em;
    box-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.400);
    cursor: pointer;
}

.payment button:first-child:hover {
    background-color: hsla(245, 75%, 52%, 0.600);
    color: white;
    transition: 300ms;
}

.payment button#cancel {
    font-weight: 900;
    color: var(--desaturatedBlue);
    font-size: 0.9em;
    border: none;
    background-color: white;
    cursor: pointer;
}

.payment button#cancel:hover {
    color: var(--darkBlue);
    transition: 300ms;
}

@media  (min-width: 600px) {
    body {
        background: var(--paleBlue) url(images/pattern-background-desktop.svg) repeat-x;
    }
    
    main {
        width: 380px;
        height: 560px;
    }

    section {
        margin: 0 30px;
    }

    .plan {
        width: 74%;
    }
}